{% extends 'base.html.twig' %}

{% block title %}{{ 'security.registration.title'|trans }}{% endblock %}

{% block main %}
    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>{{ 'security.registration.title'|trans }}</h1>
                {{ form(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock main %}
