{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.status.add.title'|trans }}{% endblock title %}

{% block main %}
    <div class="x-margin">
        {% include 'app/common/button/_back.html.twig' with {path_back: path('admin_status')} only %}
    </div>
    <div class="o-container">
        <h1 class="o-title x-noMargin">{{ 'admin.status.add.title'|trans }}</h1>
        {{ form(form) }}
    </div>
{% endblock main %}
