{% set archiveLeading = 'o-archiveLeading' %}
<div class="{{ archiveLeading }}">
    <div class="{{ archiveLeading }}__btn">
        {% if path_add is defined %}
            {% include 'app/common/button/_add.html.twig' with {
                path_add: path_add,
                label_add: label_add|default('common.new'|trans)
            } only %}
        {% endif %}
    </div>
</div>
