{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.team.title'|trans }}{% endblock title %}

{% block main %}
    <div class="x-margin">
        {% include 'app/common/button/_back.html.twig' with { path_back: path('admin') } only %}
        <h1 class="mt-4 o-title x-noMargin">{{ 'admin.team.title'|trans }}</h1>
        <ul class="mt-2">
            <li>
                <a href="{{ path('admin_team_list') }}">Listes</a>
            </li>
            <li>
                <a href="{{ path('admin_team_add') }}">Ajouter</a>
            </li>
        </ul>
    </div>
{% endblock main %}
