.o-btn {
  align-items: center;
  background-color: $blue-sapphire;
  border-radius: 21px;
  color: $white;
  display: inline-flex;
  gap: 8px;
  padding: 5px 13px;
  text-decoration: none;

  svg {
    fill: $white;
  }
}
