.o-title {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  gap: 13px;
  margin: 34px 89px 21px;

  [class*="o-title__infoTag"] {
    border-radius: 21px;
    color: $white;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 13px;
  }

  &__infoTag {
    &--true {
      background-color: #e30d0d;
    }

    &--false {
      background-color: #159b02;
    }
  }

  &--section {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 13px 0;
  }
}
