<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Phoenix - {% block title %}Welcome!{% endblock title %}</title>
        <meta name="descripion" content="{% block description %}{% endblock description %}">
        <link rel="icon" href="{{ asset('ressources/medias/images/phoenix-icon.png') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock stylesheets %}
    </head>
    <body>
        <header class="o-header">
            {% block header %}{% endblock header %}
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
        <footer>
            {% block footer %}{% endblock footer %}
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock javascripts %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
