{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<h1>Project {{ projects|length }}</h1>
{% for project in projects %}
    <div>
        <span>{{ project.name }}</span>
        <p>{{ project.description }}</p>
    </div>
{% endfor %}
{% endblock %}
